@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1709363231967') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoyuhao-copy:before {
  content: "\e62a";
}

.icon-fangdajingsousuo:before {
  content: "\e61e";
}

.icon-dayuhao:before {
  content: "\e501";
}

